body {
	font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

h1, h2, h3, p {
	margin: 0;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img{
    display: block; 
    max-width: 100%;
    height: auto;
}

/*=======HEADER======*/

.header-top-line {
border-bottom: 1px solid #e7e9fc;
}


.header-container {
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}


a {
    text-decoration: none;
}

.logo {
    color:  #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.nav-link {
    color:  #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.address {
    font-style:normal;
    margin-left: auto;
}


.address-list{
    display: flex;
    gap: 40px;
}

.address-link {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

/* ========HERO=======*/


.hero{
    background-color: #2e2f42;
    padding: 188px 0px;
}

.hero-content {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/*==========Features=======*/

.features {
    padding: 120px 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4); 
}


.item-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.items-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*======Team======*/

.images{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    gap: 8px;
    text-align: center; 
    margin-bottom: 8px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: center;
}

.style{
    background-color: #FFFFFF;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
}

.team-container {
    padding: 32px 0;
    width: 232px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

/*=======Portfolio======*/

.portfolio {
    padding-bottom: 120px;
    padding-top: 120px;

}

.portfolio-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.style-portfolio{
    background-color: #FFFFFF;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #fff;
}

.portfolio-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.team-work{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.discription{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
/*=======Footer=====*/

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-footer{
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

